/* FONTS 
'Bad Script' = H1
'cursive' = fallback
'Oswald' = < p >
'sans-serif' = fallback
*/
/* COLORS
#222831 = CHARCOAL DARK
#eeeeee = LIGHT GREY
#4f8a8b = GREEN
#fbd46d = YELLOW
*/
/* ******************************* */
body {
  margin: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #fbd46d;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Bad Script", sans-serif;
  font-size: 5.625rem;
  color: #4f8a8b;
  line-height: 2;
  letter-spacing: 3.5px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #fbd46d;
  letter-spacing: 2px;
  text-decoration: underline;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #fbd46d;
}

hr {
  border: dotted #fbd46d 6px;
  border-bottom: none;
  width: 6%;
}

.title {
  font-family: "Bad Script", sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #4f8a8b;
}

.top-container {
  background-color: #eeeeee;
  position: relative;
  padding-top: 100px;
}
.intro {
  letter-spacing: 1px;
  padding: 50px 100px;
}

.contact-me {
  width: 60%;
  margin: auto;
}

.middle-container {
  background-color: #4f8a8b;
}
.computer-image {
  border-radius: 100%;
  width: 30%;
  float: left;
  margin-right: 30px;
}

.LP-logo {
  width: 30%;
  float: right;
}

.wordpress {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.seo {
  width: 30%;
  float: right;
}

.paolo-image {
  border-radius: 100px;
  margin-top: 50px;
}

.bottom-container {
  background-color: #fbd46d;
  padding: 20px;
}
.get-in-touch {
  letter-spacing: 2px;
  /* margin: 10px 50px 40px; */
  /* padding-top: 10%; */
  padding-bottom: 10%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

/* .horizontal {

} */

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 200px;
}

h2 .get-in-touch {
  color: #fbd46d;
}

.footer-link {
  color: #4f8a8b;
}

.copyright {
  color: #4f8a8b;
  font-size: 0.75rem;
}

.mountain {
  width: 80%;
}

/* BTN SETTINGS */
.contact-me {
  padding-bottom: 40px;
}

.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 20px;
  line-height: 20px;
  color: #4f8a8b;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  background-color: #eeeeee;
  border: solid #eeeeee 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #fbd46d;
  border: solid #4f8a8b 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* FOOTER */
.footer-link {
  margin: 10px;
  text-decoration: none;
}

.footer-link:hover {
  color: #eeeeee;
}
